<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('首页')"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside th:replace="common::aside"></aside>
        <header th:replace="common::top('首页')"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card bg-primary">
                            <div class="card-body clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-white m-t-0">今日注册用户</p>
                                    <p class="h3 text-white m-b-0" th:text="${userAndItemData.get('registUserOfToday')}"></p>
                                </div>
                                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card bg-danger">
                            <div class="card-body clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-white m-t-0">用户总数</p>
                                    <p class="h3 text-white m-b-0" th:text="${userAndItemData.get('userTotals')}"></p>
                                </div>
                                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card bg-success">
                            <div class="card-body clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-white m-t-0">今日新增项目</p>
                                    <p class="h3 text-white m-b-0" th:text="${userAndItemData.get('additemOfToday')}"></p>
                                </div>
                                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-content-paste fa-1-5x"></i></span> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card bg-purple">
                            <div class="card-body clearfix">
                                <div class="pull-right">
                                    <p class="h6 text-white m-t-0">项目总数</p>
                                    <p class="h3 text-white m-b-0" th:text="${userAndItemData.get('itemTotals')}"></p>
                                </div>
                                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-content-paste fa-1-5x"></i></span> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>每周用户</h4>
                            </div>
                            <div class="card-body">
                                <canvas class="js-chartjs-bars"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>每周项目</h4>
                            </div>
                            <div class="card-body">
                                <canvas class="js-chartjs-lines"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>最新的项目</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>项目编号</th>
                                                <th>开始日期</th>
                                                <th>项目名称</th>
                                                <th>项目类型</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="newItem:${newItemList}">
                                                <td th:text="${newItem.get('itemId')}"></td>
                                                <td th:text="${newItem.get('createTime')}"></td>
                                                <td th:text="${newItem.get('name')}"></td>
                                                <td th:text="${newItem.get('itemType')}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>
<!--图表插件-->
<script type="text/javascript" th:src="@{/js/Chart.js}"></script>
<script type="text/javascript" th:inline="javascript">

    $(document).ready(function(e) {
        var $dashChartBarsCnt  = jQuery( '.js-chartjs-bars' )[0].getContext( '2d' ),
            $dashChartLinesCnt = jQuery( '.js-chartjs-lines' )[0].getContext( '2d' );

        var $dashChartBarsData = {
            labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
            datasets: [
                {
                    label: '注册用户',
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,0)',
                    backgroundColor: 'rgba(51,202,185,0.5)',
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: [ [[${userRegisterData.get('monday')}]], [[${userRegisterData.get('tuesday')}]], [[${userRegisterData.get('wednesday')}]], [[${userRegisterData.get('thursday')}]], [[${userRegisterData.get('friday')}]], [[${userRegisterData.get('saturday')}]], [[${userRegisterData.get('sunday')}]] ]
                }
            ]
        };
        var $dashChartLinesData = {
            labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
            datasets: [
                {
                    label: '新增项目',
                    data: [ [[${newItemData.get('monday')}]], [[${newItemData.get('tuesday')}]], [[${newItemData.get('wednesday')}]], [[${newItemData.get('thursday')}]], [[${newItemData.get('friday')}]], [[${newItemData.get('saturday')}]], [[${newItemData.get('sunday')}]] ],
                    borderColor: '#358ed7',
                    backgroundColor: 'rgba(53, 142, 215, 0.175)',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0.5
                }
            ]
        };

        new Chart($dashChartBarsCnt, {
            type: 'bar',
            data: $dashChartBarsData
        });

        var myLineChart = new Chart($dashChartLinesCnt, {
            type: 'line',
            data: $dashChartLinesData
        });
    });
</script>

</html>
