<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('更新管理员资料')"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside th:replace="common::aside"></aside>
        <header th:replace="common::top('更新管理员资料')"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="avatar-divider"></div>
                                <div class="edit-avatar-content">
                                    <button class="btn ">注册时间</button>
                                    <p class="m-0" th:text="${#dates.format(admin.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="avatar-divider"></div>
                                <div class="edit-avatar-content">
                                    <button class="btn ">上次登录时间</button>
                                    <p class="m-0" th:text="${#dates.format(admin.getLastLoginTime(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6">
                                <div class="avatar-divider"></div>
                                <div class=" edit-avatar-content">
                                    <button class="btn ">上次登录ip</button>
                                    <p class="m-0" th:text="${admin.getLastLoginIp()}"></p>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-6">
                                <div class="avatar-divider"></div>
                                <div class=" edit-avatar-content">
                                    <button class="btn ">登录次数</button>
                                    <p class="center-block" th:text="${admin.getLoginCount()}"></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <form method="post" class="site-form">
                                    <input type="hidden" name="adminId" th:value="${admin.getId()}" >
                                    <div class="form-group">
                                        <label for="username">用户名</label>
                                        <input type="text" class="form-control" id="username" th:value="${admin.getUsername()}" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="realityName">真实姓名</label>
                                        <input type="text" class="form-control" name="realityName" id="realityName" placeholder="" th:value="${admin.getRealityName()}" >
                                    </div>
                                    <div class="form-group">
                                        <label for="email">邮箱</label>
                                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="" th:value="${admin.getEmail()}" >
                                    </div>

                                    <div class="form-group">
                                        <label for="mobile">手机号</label>
                                        <input type="number" class="form-control" name="mobile" id="mobile" aria-describedby="mobileHelp" placeholder="" th:value="${admin.getMobile()}" >
                                    </div>
                                    <div class="form-group">
                                        <label for="department">部门</label>
                                        <input type="text" class="form-control" name="department" id="department" placeholder="" th:value="${admin.getDepartment()}" >
                                    </div>
                                    <div class="form-group">
                                        <label for="position">职位</label>
                                        <input type="text" class="form-control" name="position" id="position" placeholder="" th:value="${admin.getPosition()}" >
                                    </div>
                                    <div class="form-group">
                                        <label for="remark">简介</label>
                                        <textarea class="form-control" name="remark" id="remark" rows="3" th:text="${admin.getRemark()}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary ajax-post">修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>

<!-- ajax表单提交 -->
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>

<script>
    //提交
    $(".site-form").validate({
        rules:{
            password:{
                required:true
            },
            realityName:{
                required:true
            },
            email:{
                required:true,
                email:true
            },
            mobile:{
                required:true,
                isMobile:true
            },
            department:{
                required:true
            },
            position:{
                required:true
            }
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            lightyear.loading('show');
            $(form).ajaxSubmit({
                type: 'post',
                url: "/admin/update" ,
                success: function(data){
                    if (data.code>0){
                        location.href="/admin/list.html?page=1&size=10&success="+data.msg;
                    } else {
                        setTimeout(function() {
                            lightyear.loading('hide');
                            lightyear.notify(data.msg, 'danger');
                        }, 1e3);
                    }
                }
            });
        }
    });

</script>
</html>