server:
  port: 8080

spring:
  datasource: #数据源配置
    url: jdbc:mysql://localhost:3306/beerate_web?useUnicode=true&characterEncoding=utf8&serverTimezone=CTT
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa: #jpa配置
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    open-in-view: true
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQL57Dialect
    properties:
      hibernate:
        format_sql: false

#  静态资源不适用默认配置，SecurityConfig已配置
#  mvc: #表示所有的访问都经过静态资源路径
#    static-path-pattern: /**
#  resources: #静态路劲
#    static-locations: classpath:/META-INF/resources/, classpath:/resources/, classpath:/static/, classpath:/public/

  #thymelea模板配置
  thymeleaf:
    prefix: "classpath:/templates/"
    suffix: ".html"
    mode: "HTML5"
    encoding: "UTF-8"
    cache: false
  servlet:
    multipart:
      enabled: true
      max-request-size: 209715200 #限制上传的多个文件的总大小
      max-file-size: 104857600 #限制单个文件的最大值
      location: #上传文件的临时目录
#热部署配置
  devtools:
    restart:
      enabled: true
  jackson:
    time-zone: GMT+8 #默认为格林尼治时间，即少8小时
    date-format: yyyy-MM-dd HH:mm:ss #时间戳统一转换

#系统参数
cn:
  beerate:
    security:
      password-md5-salt: wGyUtsswIYAMxHdW
      des-encrypt-key: nx76caxsh8mYa9Oi
      session-time-out: 1h
