<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('项目详情')"></head>

<link rel="stylesheet" th:href="@{/js/view/viewer.min.css}" />

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside th:replace="common::aside"></aside>
        <header th:replace="common::top('项目详情')"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" id="businessInfo">
                    </div>
                    <div class="col-lg-6" id="adminInfo">
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h4>项目详细</h4>
                                <ul class="card-actions">
                                    <li><i class="mdi mdi-more"></i></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <form class="row">
                                    <div class="form-group col-md-12">
                                        <label for="itemName">项目名称</label>
                                        <input type="hidden" >
                                        <input type="text" class="form-control" id="itemName" name="itemName" th:value="${item.getItemName()}" disabled>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>

<!-- ajax表单提交 -->
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
<script th:inline="javascript">

    $(function () {
        //用户信息
        $.ajax({
            url : "/admin/user/businessInfo.html",
            type : "GET",
            data : {
                userId:1
            },
            success : function(data) {
                $("#businessInfo").html(data);
            }
        });

        //管理员信息
        $.ajax({
            url : "/admin/adminInfo.html",
            type : "GET",
            data : {
                adminId:[[${item.getAdmin().getId()}]]
            },
            success : function(data) {
                $("#adminInfo").html(data);
            }
        });
    });

    //提交
    $("#from_updateBusiness").validate({
        rules:{
            name:{
                required:true
            },
            company:{
                required:true
            },
            department:{
                required:true
            },
            title:{
                required:true
            },
            telCell:{
                required:true,
                isMobile:true
            },
            telWork:{
                required:true,
                isTel:true
            },
            address:{
                required:true
            },
            email:{
                required:true,
                email:true
            }
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            lightyear.loading('show');
            $(form).ajaxSubmit({
                type: 'post',
                url: "/admin/user/update" ,
                success: function(data){
                    if (data.code>0){
                        location.href="/admin/user/list.html?page=1&size=10&success="+data.msg
                    } else {
                        setTimeout(function() {
                            lightyear.loading('hide');
                            lightyear.notify(data.msg, 'danger');
                        }, 1e3);
                    }
                }
            });
        }
    });

</script>

</html>