<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('项目详情')"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside th:replace="common::aside"></aside>
        <header th:replace="common::top('项目详情')"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h4>项目详细</h4>
                                <ul class="card-actions">
                                    <li><i class="mdi mdi-more"></i></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="avatar-divider"></div>
                                        <div class="edit-avatar-content">
                                            <button class="btn">项目结束时间</button>
                                            <p class="m-0" th:text="${#dates.format(stockTransfer.getEndTime(),'yyyy-MM-dd HH:mm:ss')}"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="avatar-divider"></div>
                                        <div class="edit-avatar-content">
                                            <button class="btn">是否加急</button>
                                            <p class="m-0" th:text="${stockTransfer.getIsUrgent()?'是':'否'}"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="avatar-divider"></div>
                                        <div class=" edit-avatar-content">
                                            <button class="btn">查看是否需要平台认证</button>
                                            <p class="m-0" th:text="${stockTransfer.getIsPlatformAuthentication()?'是':'否'}"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="avatar-divider"></div>
                                        <div class=" edit-avatar-content">
                                            <button class="btn">是否一手</button>
                                            <p class="center-block" th:text="${stockTransfer.getIsFirstHandle()?'是':'否'}"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="avatar-divider"></div>
                                        <div class=" edit-avatar-content">
                                            <button class="btn">是否上市</button>
                                            <p class="center-block" th:text="${stockTransfer.getIsQuoted()?'是':'否'}"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="avatar-divider"></div>
                                        <div class=" edit-avatar-content">
                                            <button class="btn">是否前台展示</button>
                                            <p class="center-block" th:text="${stockTransfer.getIsShow()?'是':'否'}"></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <form class="row">
                                    <div class="form-group col-md-12">
                                        <label for="bidName">标的名称</label>
                                        <input type="text" class="form-control" id="bidName" th:value="${stockTransfer.bidName}" disabled>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="companyName">企业名称</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="companyName" th:value="${stockTransfer.bidName}" disabled>
                                            <span class="input-group-addon" th:text="${stockTransfer.getCompanyNameIsPublic()==true?'公开':'未公开'}">万元</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="industryRealm">行业领域</label>
                                        <input type="text" class="form-control" id="industryRealm" th:value="${stockTransfer.industryRealm.getValue()}" disabled>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="currency">币种</label>
                                        <input type="text" class="form-control" id="currency" th:value="${stockTransfer.currency.getValue()}" disabled>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="lastYearProfits">去年净利润</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="lastYearProfits" th:value="${stockTransfer.lastYearProfits}" disabled>
                                            <span class="input-group-addon">万</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="currentValuation">本轮估值</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="currentValuation" th:value="${stockTransfer.currentValuation}" disabled>
                                            <span class="input-group-addon">万</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="transferAmount">转让金额</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="transferAmount" th:value="${stockTransfer.transferAmount}" disabled>
                                            <span class="input-group-addon">万</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="equityRatio">转让股权比例</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="equityRatio" th:value="${stockTransfer.equityRatio}" disabled>
                                            <span class="input-group-addon">%</span>
                                            <span class="input-group-addon" th:text="${stockTransfer.getIsPrivacyEquityRatio()==true?'保密':'未保密'}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="investLightSpot">投资亮点</label>
                                        <textarea class="form-control" id="investLightSpot" name="description" rows="3" th:text="${stockTransfer.investLightSpot}" disabled></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="contact">联系人</label>
                                        <input type="text" class="form-control" id="contact" th:value="${stockTransfer.contact}" disabled>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="contactMobile">联系人电话</label>
                                        <input type="text" class="form-control" id="contactMobile" th:value="${stockTransfer.contactMobile}" disabled>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="contentDescription">内容描述</label>
                                        <textarea class="form-control" id="contentDescription" name="contentDescription" rows="3" th:text="${stockTransfer.contentDescription}" disabled></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h4>项目审核</h4>
                                <ul class="card-actions">
                                    <li><i class="mdi mdi-more"></i></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <form class="row" id="audit">
                                    <input type="hidden" name="itemId" th:value="${stockTransfer.getId()}">
                                    <div class="form-group col-md-12">
                                        <label for="auditStatus">审核状态</label>
                                        <div class="form-controls">
                                            <select id="auditStatus" name="auditStatus" class="form-control">
                                                <option th:each="auditStatu:${auditStatus}" th:value="${auditStatu.name()}" th:text="${auditStatu.getValue()}" th:selected="${auditStatu==stockTransfer.getAuditStatus()}" ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="description">审核描述</label>
                                        <textarea class="form-control" id="description" name="description" rows="3" th:text="${stockTransfer.getDescription()}"></textarea>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-primary ajax-post">审核</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="businessInfo"></div>
                    <div class="col-lg-6" id="adminInfo"></div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>

<!-- ajax表单提交 -->
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>

<script th:inline="javascript">

    $(function () {
        //用户信息
        var userId = [[${stockTransfer.getUser()==null?0:stockTransfer.getUser().getId()}]];
        if (userId!==0){
            $.ajax({
                url : "/admin/item/common/businessInfo.html",
                type : "POST",
                data : {
                    userId:userId
                },
                success : function(data) {
                    $("#businessInfo").html(data);
                },
                error : function () {
                    $("#businessInfo").remove();
                    setTimeout(function() {
                        lightyear.loading('hide');
                        lightyear.notify("用户信息查询失败", 'danger');
                    }, 1e3);
                }
            });
        }else {
            $("#businessInfo").remove();
        }

        //管理员信息
        var adminId = [[${stockTransfer.getAdmin()==null?0:stockTransfer.getAdmin().getId()}]];
        if (adminId!==0){
            $.ajax({
                url : "/admin/item/common/adminInfo.html",
                type : "POST",
                data : {
                    adminId:adminId
                },
                success : function(data) {
                    $("#adminInfo").html(data);
                },
                error : function () {
                    $("#adminInfo").remove();
                }
            });
        }else {
            $("#adminInfo").remove();
            setTimeout(function() {
                lightyear.loading('hide');
                lightyear.notify("管理员信息查询失败", 'danger');
            }, 1e3);
        }
    });

    //提交
    $("#audit").validate({
        rules:{
            auditStatus:{
                required:true
            },
            description:{
                required:true
            }
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            lightyear.loading('show');
            $(form).ajaxSubmit({
                type: 'post',
                url: "/admin/item/common/audit",
                data:{
                    serviceName:"stockTransferServiceImpl"
                },
                success: function(data){
                    if (data.code>0){
                        location.href="/admin/item/stocktransfer/list.html?page=1&size=10&success="+data.msg
                    } else {
                        setTimeout(function() {
                            lightyear.loading('hide');
                            lightyear.notify(data.msg, 'danger');
                        }, 1e3);
                    }
                }
            });
        }
    });

</script>

</html>