<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('PRE-IPO列表')"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside th:replace="common::aside"></aside>
        <header th:replace="common::top('PRE-IPO列表')"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">

                                <form class="search-bar" method="get" action=""  style="max-width: 100%">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-group m-t-10">
                                                <input class="form-control js-datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" type="text"  name="beginDate" placeholder="从">
                                                <span class="input-group-addon"><i class="mdi mdi-chevron-right"></i></span>
                                                <input class="form-control js-datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" type="text"  name="endDate" placeholder="至">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="input-group m-t-10">
                                                <div class="input-group-btn">
                                                    <input type="hidden" name="page" th:value="${page.getNumber()+1}"/>
                                                    <input type="hidden" name="size" th:value="${page.getSize()}"/>
                                                    <input type="hidden" name="column" />
                                                    <input type="hidden" name="order" />
                                                    <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">项目名称</button>

                                                </div>
                                                <input type="hidden" id="search-field" name="field" value="preIpoName">
                                                <input type="text" class="form-control" placeholder="搜索条件" name="value">

                                                <span class="input-group-btn">
                                                  <button class="btn btn-default" type="submit">搜索</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <div class="toolbar-btn-action m-t-10">
                                    <a class="btn btn-primary m-r-5" th:href="@{/admin/item/preipo/add.html}"><i class="mdi mdi-plus"></i> 新增</a>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="lyear-checkbox checkbox-primary">
                                                    <input type="checkbox" id="check-all"><span></span>
                                                </label>
                                            </th>
                                            <th onclick="order('id',this)"> 编号</th>
                                            <th onclick="order('createTime',this)"> 时间</th>
                                            <th>新三板</th>
                                            <th>项目名称</th>
                                            <th>标的所处行业领域</th>
                                            <th>拟IPO基准日</th>
                                            <th>对赌条件</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="preipo:${page.getContent()}">
                                            <td>
                                                <label class="lyear-checkbox checkbox-primary">
                                                    <input type="checkbox" name="ids[]" value="1"><span></span>
                                                </label>
                                            </td>
                                            <td th:text="${preipo.id}"></td>
                                            <td th:text="${#dates.format(preipo.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td th:text="${preipo.isNewThirdBoardListing==true?'已挂牌':'未挂牌'}"></td>
                                            <td th:text="${preipo.preIpoName}"></td>
                                            <td th:text="${preipo.industryRealm.getValue()}"></td>
                                            <td th:text="${#dates.format(preipo.iPOBaseDate,'yyyy-MM-dd') }"></td>
                                            <td th:text="${preipo.ratchetTerms.getValue()}"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" th:href="@{/admin/item/preipo/detail.html(preIpoId=${preipo.id})}" title="审核" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default" href="javascript:void(0)" title="分配" th:data-itemId="${preipo.getId()}" data-toggle="modal" data-target="#allocation"><i class="mdi mdi-account"></i></a>
                                                    <a class="btn btn-xs btn-default" th:href="'javascript:show('+${preipo.id}+')'" th:title="${preipo.getIsShow()==true?'下架':'上架'}" data-toggle="tooltip">
                                                        <i th:class="${preipo.getIsShow()==true?'mdi mdi-arrow-down-bold-circle':'mdi mdi-arrow-up-bold-circle'}"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <ul th:replace="common::TPageControl(${page},'.search-bar')"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <!--End 页面主要内容-->
        <div class="modal fade" id="allocation" tabindex="-1" role="dialog" aria-labelledby="allocationLabel"></div>
    </div>
</div>
</body>
<script type="text/javascript">
    //分配人列表
    $('#allocation').on('show.bs.modal', function (event) {
        $.ajax({
            url : "/admin/item/common/assigner.html",
            type : "POST",
            data:{
                page:1,
                size:5,
                itemId:$(event.relatedTarget).data("itemid"),
                serviceName:"preIpoServiceImpl"
            },
            success : function(data) {
                $('#allocation').html(data)
            }
        });
    });

    //上下架
    function show(itemId) {
        $.ajax({
            url : "/admin/item/common/show",
            type : "POST",
            data:{
                itemId:itemId,
                serviceName:"preIpoServiceImpl"
            },
            success : function(data) {
                if (data.code>0){
                    location.href="/admin/item/preipo/list.html?page=1&size=10&success="+data.msg
                } else {
                    setTimeout(function() {
                        lightyear.loading('hide');
                        lightyear.notify(data.msg, 'danger', 3000);
                    }, 1e3);
                }
            }
        });
    }
</script>
</html>