<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('添加项目融资')"></head>

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <aside th:replace="common::aside"></aside>
            <header th:replace="common::top('添加项目融资')"></header>

            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form class="site-form" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label for="itemName">项目名称</label>
                                            <input type="text" class="form-control" name="itemName" id="itemName" placeholder="请填写项目名称"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="companyName">公司名称</label>
                                            <input type="text" class="form-control" name="companyName" id="companyName" placeholder="请填写公司名称"  >
                                        </div>

                                        <div class="form-group">
                                            <label for="logo">公司LOGO</label>
                                            <input type="file" class="form-control" name="logo" id="logo" >
                                        </div>

                                        <div class="form-group">
                                            <label for="industryRealm">行业领域</label>
                                            <select id="industryRealm" name="industryRealm" class="form-control" >
                                                <option th:each="industryRealm:${industryRealms}" th:value="${industryRealm.name()}" th:text="${industryRealm.value}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="companyWebsite">公司官网</label>
                                            <input type="url" class="form-control" name="companyWebsite" id="companyWebsite" placeholder="请填写公司官网,以http://开头">
                                        </div>

                                        <div class="form-group">
                                            <label for="companyIosUrl">ios下载地址</label>
                                            <input type="url" class="form-control" name="companyIosUrl" id="companyIosUrl" placeholder="请填写IOS应用地址,以http://开头">
                                        </div>

                                        <div class="form-group">
                                            <label for="companyAndroidUrl">Android下载地址</label>
                                            <input type="url" class="form-control" name="companyAndroidUrl" id="companyAndroidUrl" placeholder="请填写Android下载地址,以http://开头">
                                        </div>

                                        <div class="form-group">
                                            <label for="isQuoted">是否上市</label>
                                            <select  name="isQuoted" id="isQuoted" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="1">已上市</option>
                                                <option value="0">未上市</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="stockCode">股票代码</label>
                                            <input type="number" class="form-control" name="stockCode" id="stockCode" placeholder="请填写股票代码">
                                        </div>

                                        <label for="amount">融资金额</label>
                                        <div class="input-group m-b-10">
                                            <input type="number" class="form-control" name="amount" id="amount" placeholder="请填写融资金额">
                                            <span class="input-group-addon">万</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="purpose">资金用途</label>
                                            <textarea class="form-control" name="purpose" id="purpose" rows="3"  placeholder="请填写资金用途"></textarea>
                                        </div>

                                        <label for="period">借款期限</label>
                                        <div class="input-group m-b-10">
                                            <input type="number" class="form-control" name="period" id="period"  placeholder="请填写借款期限">
                                            <span class="input-group-addon">月</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="repayment">还款来源</label>
                                            <textarea class="form-control" name="repayment" id="repayment" rows="3"  placeholder="请填写还款来源"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="businessProposal">BP计划书</label>
                                            <input type="file" class="form-control" name="businessProposal" id="businessProposal">
                                        </div>

                                        <div class="form-group">
                                            <label for="businessLicense">营业执照彩色扫描件（三证合一）</label>
                                            <input type="file" class="form-control" name="businessLicense" id="businessLicense"  >
                                        </div>

                                        <div class="form-group">
                                            <label for="financialReport">前三年+本年度资产负债表、损益表、现金流量表</label>
                                            <input type="file" class="form-control" name="financialReport" id="financialReport"  >
                                        </div>

                                        <div class="form-group">
                                            <label for="auditReport">最近一年审计报告</label>
                                            <input type="file" class="form-control" name="auditReport" id="auditReport"  >
                                        </div>

                                        <div class="form-group">
                                            <label for="indebtedness">有息负债明细：含起止时间、金额、担保或保证方</label>
                                            <input type="file" class="form-control" name="indebtedness" id="indebtedness"  >
                                        </div>

                                        <div class="form-group">
                                            <label for="capitalFlow">近6个月银行流水（主要银行）</label>
                                            <input type="file" class="form-control" name="capitalFlow" id="capitalFlow" >
                                        </div>


                                        <div class="form-group">
                                            <label>项目结束时间</label>
                                            <input class="form-control js-datepicker m-b-10" type="text"  name="endTime" placeholder="请选择项目结束时间" data-date-format="yyyy-mm-dd" readonly style="cursor: pointer;background-color: white">
                                        </div>

                                        <div class="form-group">
                                            <label for="isUrgent">是否加急</label>
                                            <select id="isUrgent" name="isUrgent" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="isPlatformAuthentication">查看是否需要平台认证</label>
                                            <select id="isPlatformAuthentication" name="isPlatformAuthentication" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="isFirstHandle">是否一手</label>
                                            <select id="isFirstHandle" name="isFirstHandle" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="isShow">是否前台展示</label>
                                            <select id="isShow" name="isShow" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>


                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>
</body>

<!-- ajax文件上传 -->
<script th:src="@{/js/ajaxfileupload.js}"></script>
<!-- ajax表单提交 -->
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
<script>
    //提交
    $(".site-form").validate({
        rules:{
            // todo 待添加校验
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            lightyear.loading('show');
            $(form).ajaxSubmit({
                type: 'post',
                url: "/admin/item/loan/add" ,
                success: function(data){
                    if (data.code>0){
                        location.href="/admin/item/loan/list.html?page=1&size=10&success="+data.msg
                    } else {
                        setTimeout(function() {
                            lightyear.loading('hide');
                            lightyear.notify(data.msg, 'danger', 3000);
                        }, 1e3);
                    }
                }
            });
        }
    });


</script>

</html>