<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('添加项目融资')"></head>

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <aside th:replace="common::aside"></aside>
            <header th:replace="common::top('添加项目融资')"></header>

            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form class="site-form">
                                        <div class="form-group">
                                            <label for="username">公司名称</label>
                                            <input type="text" class="form-control" name="username" id="username" />
                                        </div>
                                        <div class="form-group">
                                            <label for="password">项目名称</label>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="输入密码"  >
                                        </div>
                                        <input type="hidden" name="photo"/>
                                        <div class="form-group">
                                            <label for="realityName">公司LOGO</label>
                                            <input type="text" class="form-control" name="realityName" id="realityName" placeholder="输入您的真实姓名"  >
                                        </div>
                                        <div class="form-group">
                                            <label for="email">所属领域</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="请输入正确的邮箱地址" >
                                        </div>

                                        <div class="form-group">
                                            <label for="mobile">公司官网</label>
                                            <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="请输入正确的手机号">
                                        </div>
                                        <div class="form-group">
                                            <label for="department">ios下载地址</label>
                                            <input type="text" class="form-control" name="department" id="department" placeholder="输入您的部门">
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Android下载地址</label>
                                            <input type="text" class="form-control" name="position" id="position" placeholder="输入您的职位">
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">是否上市</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">股票代码</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">融资金额</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">资金用途</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">借款期限</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">还款来源</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="remark">BP计划书</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="remark">营业执照彩色扫描件（三证合一）</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">前三年+本年度资产负债表、损益表、现金流量表</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">最近一年审计报告</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">有息负债明细：含起止时间、金额、担保或保证方</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">近6个月银行流水（主要银行）</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="remark">是否前台展示</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="remark">审核状态</label>
                                            <textarea class="form-control" name="remark" id="remark" rows="3" placeholder="这家伙很懒，什么也没留下！"></textarea>
                                        </div>


                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>
</body>