<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('添加海外上市')"></head>

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <aside th:replace="common::aside"></aside>
            <header th:replace="common::top('添加海外上市')"></header>

            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-offset-2 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <form class="site-form">
                                        <div class="form-group">
                                            <label for="realName">真实姓名</label>
                                            <input type="text" class="form-control" name="realName" id="realName" placeholder="请填写真实姓名"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="mobile">手机号</label>
                                            <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="请填写手机号"  >
                                        </div>
                                        <input type="hidden" name="photo"/>
                                        <div class="form-group">
                                            <label for="job">职位</label>
                                            <input type="text" class="form-control" name="job" id="job" placeholder="请填写职位"  >
                                        </div>
                                        <div class="form-group">
                                            <label for="companyName">企业名称</label>
                                            <input type="text" class="form-control" name="companyName" id="companyName" placeholder="请填写企业名称" >
                                        </div>

                                        <div class="form-group">
                                            <label for="companyBusiness">企业主营业务</label>
                                            <input type="text" class="form-control" name="companyBusiness" id="companyBusiness" placeholder="请填写企业主营业务">
                                        </div>

                                        <div class="form-group">
                                            <label for="netProfit">企业全年净利润情况（单位：人民币）</label>
                                            <select class="form-control" id="netProfit" name="netProfit">
                                                <option th:each="netProfit:${netProfits}" th:value="${netProfit.name()}" th:text="${netProfit.getValue()}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="mark">备注</label>
                                            <input type="text" class="form-control" name="mark" id="mark" placeholder="请填写备注">
                                        </div>

                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>
</body>
<!-- ajax表单提交 -->
<script th:src="@{/js/jquery.form.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>

<script>
    //提交
    $(".site-form").validate({
        rules:{
            // todo 待添加校验
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            lightyear.loading('show');
            $(form).ajaxSubmit({
                type: 'post',
                url: "/admin/item/overseaslisting/add" ,
                success: function(data){
                    if (data.code>0){
                        location.href="/admin/item/overseaslisting/list.html?page=1&size=10&success="+data.msg
                    } else {
                        setTimeout(function() {
                            lightyear.loading('hide');
                            lightyear.notify(data.msg, 'danger', 3000);
                        }, 1e3);
                    }
                }
            });
        }
    });
</script>
</html>